h6 energy prices
.home-score-col.fourth
  label electricity
  input.fancy-input(value="0.145")
  .helper-label $kw/hour

.home-score-col.fourth
  label piped natural gas
  input.fancy-input(value="1.36")
  .helper-label $kw/hour

.home-score-col.fourth
  label gas/propane
  input.fancy-input(value="23.24")
  .helper-label $kw/hour

.home-score-col.fourth
  label oil
  input.fancy-input(value="12.52")
  .helper-label $kw/hour

.dotted-divider
.btn.jump-section.btn-primary next: tell us about your building