li.tile.full.fact
  h2.roboto-condensed-light did you know?
  .inner-tile-wrap
    img.left(src="images/infographics/light-bulb.png")
    p.roboto-light.fact-copy.left If every home in the U.S. switched just one inefficient light for an Energy Star one, that would be equivalent to taking 800,000 vehicles off the road in term of greenhouse gas emissions.
    .cl
