svg.chart(viewBox="0 0 600 422")
ul.toggle-chart
  li(data-id="NG.N3010RI3.A") NG.N3010RI3.A
  li(data-id="SEDS.WDRCD.RI.A") SEDS.WDRCD.RI.A
  li(data-id="SEDS.ESRCD.RI.A") SEDS.ESRCD.RI.A
  li(data-id="SEDS.DFRCD.RI.A") SEDS.DFRCD.RI.A
