.inner-tile-wrap
  svg.chart(viewBox="0 0 600 422")
  ul.toggle-chart
    li(data-id="SEDS.ESRCD")
      img(src="../images/chart/elec-active@2x.png" width="32" height="34" alt="Elec")
      .cl
      span.energy-type.teal elec

    li(data-id="NG.N3010")
      img(src="../images/chart/gas-active@2x.png" width="30" height="28" alt="Gas")
      .cl
      span.energy-type.red gas

    li(data-id="SEDS.DFRCD")
      img(src="../images/chart/oil-active@2x.png" width="20" height="30" alt="Oil")
      .cl
      span.energy-type.purple oil

    li(data-id="SEDS.WDRCD")
      img(src="../images/chart/wood-active@2x.png" width="30" height="30" alt="Wood")
      .cl
      span.energy-type.blue wood
