h2.chart-headline.roboto-condensed-light energy type trends
h3.chart-subheadline.robot-regular over the last 10 years
.tile.full
  .inner-tile-wrap
    svg.chart(viewBox="0 0 600 422")
    ul.toggle-chart
      li(data-id="NG.N3010RI3.A") 
        img(src="../images/chart/coal-active@2x.png" width="30" height="30" alt="Coal")
        .cl
        span.energy-type coal

      li(data-id="SEDS.WDRCD.RI.A")
        img(src="../images/chart/gas-active@2x.png" width="30" height="28" alt="Coal")
        .cl
        span.energy-type gas

      li(data-id="SEDS.ESRCD.RI.A")
        img(src="../images/chart/oil-active@2x.png" width="20" height="30" alt="Coal")
        .cl
        span.energy-type oil

      li(data-id="SEDS.DFRCD.RI.A")
        img(src="../images/chart/wood-active@2x.png" width="30" height="30" alt="Coal")
        .cl
        span.energy-type wood
