.home-detail-headline
  .close close
  h5
    | home details & <br> energy score tool

  - if (details)
    h1.address.roboto-thin= details.address[0].street
    .home-location
    pre= JSON.stringify(details, null, 4)
