.home-detail-headline
  .close
  .contain.small-contain
    .detail-hero
      - if (details)
        h1.address.roboto-thin= details.address
    .home-location
    .home-details
      .home-score-steps
