h2.score-investment-header score your potential investment
p.populated-helper-text We have pre-populated fields with defaults based on your location. The more info the more accurate score.

.current-step
