
.home-detail-headline
  .close
  .contain
    - if (details)
      h1.address.roboto-thin= details.address
  - if (details)
    .home-location
    .home-details
      .contain
        pre= JSON.stringify(details, null, 4)
