h6 home basics
.home-score-col.fourth
  label address
  input.fancy-input(value="12 Bayview Ave")

.home-score-col.fourth
  label city
  input.fancy-input(value="Providence")

.home-score-col.fourth
  label state
  input.fancy-input(value="RI")

.home-score-col.fourth
  label year built
  input.fancy-input(value="1961")

.dotted-divider

.btn.jump-section.btn-primary next: tell us about your energy prices
