h2 loading your home results...
p While you wait check out some energy facts and tips below

.energy-facts.cycle-slideshow
  .fact
    p Use shades, blinds and drapes to help with heating and cooling. Open them to gain the sun’s heat during heating season and close them to block the heat during cooling season. Make it a habit today
  .fact
    p Consider switching to natural gas. Compared to other traditional energy sources, natural gas is the least expensive way to heat your home and water, dry your laundry and cook your food.
  .fact
    p Set the water heater thermostat at 140 degrees or "normal." If you have a dishwasher. Otherwise, set it at 120 degrees or "low." Check your dishwasher to see if you can use 120 degree water. Follow the manufacturer's direction on yearly maintenance to extend the life of your unit.
  .fact
    p Set the furnace thermostat at 68 degrees or lower, and the air-conditioner thermostat at 78 degrees or higher, health permitting. 3 percent to 5 percent more energy is used for each degree the furnace is set above 68 degrees and for each degree the air conditioner is set below 78 degrees.
  .fact
    p 1 ENERGY STAR certified light bulb prevents 500-1,800lbs. of greenhouse gas emissions over its lifetime.