.search
  .contain
    h2.search-location-header.inline-block.roboto-light Showing homes available in
    input.inline-block(type="text", value="#{city}, #{state}").search-input
    .btn.btn-primary.inline-block.near-me find homes near me!