.search
  .contain
    h2.search-location-header.inline-block.roboto-light Showing homes available in
    .inline-block.search-input #{city}, #{state}
    .btn.btn-primary.inline-block.near-me find homes near me!