.search
  .contain
    h2.inline-block.roboto-light Showing homes available in
    input.inline-block(type="text", value="#{city}, #{state}").search-input
    .btn.inline-block.near-me find homes near me!