li.tile.third.demographic.walk-score
  .inner-tile-wrap
    img.walk-score-icon(src="../images/walk-score@2x.png" width="52" height="102")
    h3.infographic-header walker's paradise
      br
      | score of 78
