.search
  .contain
    h2.roboto-light.inline-block Find homes in 
      input(type="text", value="Massachusetts").search-input
      | for 
      input(type="text", value="$600,000").search-input.search-price
      a.btn.btn-wire.find-homes(href="#") find my home
