.search
  .contain
    h2.roboto-light.inline-block Find homes in 
      a(href="#").search-link Massachusetts 
      | for 
      a(href="#").search-link $600,000
    a.btn.btn-wire.find-homes find my home
