!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    title home hunt

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src='/js/vendor/jquery.2.0.3.js')
    script(src='/js/vendor/lodash.2.4.1.js')
    script(src='/js/vendor/backbone.1.1.0.js')
    script(src='/js/vendor/marionette.js')
    script(src='/js/vendor/jquery_ui.1.1.0.3.js')
    script(src='/js/vendor/jquery.iframe-transport.js')
    script(src='/js/vendor/jquery.fileupload.js')
    script(src='/js/vendor/moment.js')
    script(src="js/templates.js")
    script(src="js/main.js")

    link(rel='stylesheet', href='css/master.css')

  body
    != content
