!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, user-scalable=no")

    title home hunt

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="js/vendor.js")
    script(src="js/templates.js")
    script(src="js/main.js")

    link(rel='stylesheet', href='css/master.css')

  body
    != content
