html
  -webkit-font-smoothing: antialiased
  font-family: 'robotoregular'

body
  background-color: light-grey

a
  color: blue

h1
  font-size: large-font-size

h2
  font-size: headline-font-size

.btn
  padding: 6px 12px
  text-align: center
  font-size: 12px
  text-transform: uppercase
  color: slate

.btn-wire
  border: 1px solid slate;

.contain
  width: page-width
  margin: 0 auto

.inline-block
  display: inline-block