*
  box-sizing: border-box

html
  -webkit-font-smoothing: antialiased
  font-family: 'robotoregular'

body
  background-color: light-grey

a
  color: blue
  text-decoration: none
  &:hover
    color darken(blue, 20%)

h1
  font-size: large-font-size

h2
  font-size: headline-font-size

h3 
  font-size: (headline-font-size / 1.5)

h4
  font-size: 14px
  font-weight: normal
  color: slate
  font-family 'robotoregular'

.btn
  padding: 8px 12px
  text-align: center
  font-size: 12px
  text-transform: uppercase
  color: slate

.btn-wire
  border: 1px solid slate;
  transition: all 100ms ease-in
  &:hover
    border-color: darken(slate, 20%)

.contain
  width: page-width
  margin: 0 auto

.inline-block
  display: inline-block

.inline-icon
  margin-right: 4px
  display: inline-block
  width: 14px
  height: 14px
  background-size: cover !important

.cl
  clear:both