*
  box-sizing: border-box

html
  -webkit-font-smoothing: antialiased
  font-family: 'robotoregular'
  color slate

body
  background-color: light-grey

a
  color: blue
  text-decoration: none
  &:hover
    color darken(blue, 20%)

label, thead, tbody td
  font-family: 'robotobold';

h1, h2, h3, h4, h5, h6
  color: darken(slate, 40%)

h1
  font-size large-font-size
  @media screen and (max-width: 500px)
    font-size (large-font-size / 1.5)
h2
  font-size: headline-font-size
  text-transform uppercase

h3
  font-size: (headline-font-size / 1.5)

h4
  font-size: 14px
  font-weight: normal
  color: slate
  font-family 'robotoregular'

h5
  font-size: (headline-font-size / 2)
  font-family 'robotoregular'
  color: slate
  margin-bottom: 2px
  text-transform: uppercase

h6
  font-size 14px
  text-transform uppercase
  margin-bottom 6px

p
  &.small
    font-size 11px
    font-style italic
    line-height: 15px

.btn
  padding: 8px 12px
  text-align: center
  font-size: 12px
  text-transform: uppercase
  color: slate
  font-family: 'robotoregular'
  border-radius 3px
  &:hover
    cursor pointer

.btn-default
  background-color slate
  color white
  border 1px solid darken(slate, 20%)
  &:hover
    color white
    background-color lighten(slate, 5%)


.btn-wire
  border: 1px solid slate;
  transition: all 100ms ease-in
  &:hover
    border-color: darken(slate, 20%)
  &:active
    background-color darken(slate, 10%)


.btn-primary
  background-color blue
  border 1px solid darken(blue, 15%)
  text-transform uppercase
  padding 16px 6px
  color white
  &:hover
    background-color lighten(blue, 5%)
    border-color blue
    color white
  &:active
    background-color darken(blue, 10%)

.contain
  width: page-width
  margin: 0 auto
  @media screen and (min-width: 1300px)
    width: 70%
  @media screen and (max-width: 768px)
    width: 94%

.small-contain
  width 80%
  @media screen and (max-width: 500px)
    width: 92%

.inline-block
  display: inline-block

.inline-icon
  margin-right: 4px
  display: inline-block
  width: 14px
  height: 14px
  background-size: cover !important

.cl
  clear:both

.left
  float: left