.chart-headline
  color: slate
  text-transform: uppercase

.chart-subheadline
  text-transform: uppercase
  color: lighten(slate, 30%)
  margin-bottom: spacing-block-tiny
.chart
  width: 88%
  display: inline-block
  background-color: dark-slate

.chart path
  fill: none
  stroke-width: 2px

.chart circle
  stroke: #222535


[class*='id-SEDS.WDRCD']
  fill: saturate(blue, 20%)

path[class*='id-SEDS.WDRCD']
  stroke: blue

[class*='id-NG.N3010']
  fill: saturate(red, 20%)

path[class*='id-NG.N3010']
  stroke: red

[class*='id-SEDS.ESRCD']
  fill: saturate(teal, 20%)

path[class*='id-SEDS.ESRCD']
  stroke: teal

[class*='id-SEDS.DFRCD']
  fill: saturate(purple, 20%)

path[class*='id-SEDS.DFRCD']
  stroke: purple

.toggle-chart
  height: 100%
  vertical-align: top
  background-color: dark-slate
  display: inline-block
  width: 12%
  border-left: 1px solid lighten(dark-slate, 5%)
  li
    vertical-align: middle
    text-transform: uppercase;
    height: 105.5px
    font-size: 10px
    text-align: center
    color: lighten(dark-slate, 40%)
    border-bottom: 1px solid lighten(dark-slate, 5%)
    &:hover
      background-color: lighten(dark-slate, 1%)

  img
    margin-top: 28px

.disabled
  img, .energy-type
    opacity: .2

.energy-type
  margin-top: 10px
  display: inline-block

.tick
  text
    font-size: 12px
    fill: lighten(dark-slate, 40%)
