.chart
  width: 88%
  display: inline-block
  background-color: dark-slate

.chart path
  fill: none
  stroke-width: 2px

.line0
  fill: saturate(blue, 20%)

.line1
  fill: saturate(red, 20%)

.line2
  fill: saturate(teal, 20%)

.line3
  fill: saturate(purple, 20%)

path.line0
  stroke: teal

path.line1
  stroke: red

path.line2
  stroke: teal

path.line3
  stroke: purple

.toggle-chart
  height: 100%
  vertical-align: top
  background-color: dark-slate
  display: inline-block
  width: 12%
  border-left: 1px solid lighten(dark-slate, 5%)
  li
    vertical-align: middle
    text-transform: uppercase;
    height: 105.5px
    font-size: 10px
    text-align: center
    color: lighten(dark-slate, 40%)
    border-bottom: 1px solid lighten(dark-slate, 5%)

  img
    margin-top: 28px

.energy-type
  margin-top: 10px
  display: inline-block

.tick
  text
    font-size: 12px
    fill: lighten(dark-slate, 40%)