.fill-red
  background-color red

.fill-pink
  background-color pink

.fill-orange
  background-color orange

.fill-green
  background-color green

.fill-blue
  background-color blue

.fill-dark-slate
  background-color darken(slate, 40%)

.teal
  color: teal

.red
  color: red

.blue
  color: blue

.purple
  color: purple

.pink
  color pink

.orange
  color orange

.green
  color green

.price-breakdown
  width 100%