.tile.commute
  .inner-tile-wrap
    color: #FFF
    background: #41ddd7
    padding: 0
    margin: 10px
    text-align: center
    padding: 14px 14px 8px 14px

  img
    margin: 52px 0

  .subheadline, .time
    text-align: left
    text-transform: uppercase

  .subheadline
    font-size: 16px
    font-weight: bold
    margin-bottom: 10px

  .time
    font-family: 'roboto_condensedlight'
    font-size: 44px
    span
      color: #27a5a0