.tile.fact
  min-height: 160px

  .inner-tile-wrap
    background: #ffbc48
    color: #FFF
    padding: 36px
    margin: 10px
  h2
    text-transform: uppercase
    margin: 10px

  img
    width: 10%

  .fact-copy
    width: 80%
    margin-left: 5%
    font-size: 20px
    line-height: 25px
