.blue-header
  background-color: blue
  padding-top: spacing-block-lg * 2
  padding-bottom: spacing-block-sm
  position: relative

  .background
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 0
    opacity: 0.1
    background-size: contain

  .contain
    position: relative
    z-index: 1

.app-header
  color: #FFF

h5
  color: #FFF
  font-size: 19px
  font-family: 'robotobold'

.app-header
  margin-bottom: 10px
  margin-top: -40px

h1
  font-size: 60px
  color: #FFF
