.blue-header
  background-color: blue
  padding-top: spacing-block-lg
  padding-bottom: spacing-block-sm

.app-header
  color: #FFF

h5
  color: #FFF
  font-size: 19px
  font-family: 'robotobold'

.app-header
  margin-bottom: 10px
  margin-top: -40px

h1
  font-size: 60px
  color: #FFF
