.app-overlay
  width: 100%
  z-index:  2
  position: absolute

  .close
    width: 40px
    height: 40px
    background: white
    position: absolute
    border-radius: 50%
    right: 10px
    top: 10px
    cursor: pointer