.app-overlay
  width: 100%
  z-index:  2
  position: absolute

  .close
    position: absolute
    right: 50px
    top: 50px
    cursor: pointer
    background: url(../images/close-modal@2x.png) no-repeat 0 0
    background-size 100% !important
    height 46px
    width 46px
    transition all 500ms ease-out
    &:hover
      transform rotate(360deg)