.search
  background-color: dark-slate
  padding: spacing-block-tiny*2 0
  margin-bottom: spacing-block-tiny*2

.search-location-header
  text-transform capitalize
  color white

.find-homes
  margin-left: 12px
  display: inline-block
  top: -2px
  position: relative
  @media screen and (max-width: 400px)
    margin: spacing-block-tiny 0 0 0
    padding: 10px
    width: 100%
    display: block

.search-input
  width 16%
  background-color transparent
  border: none
  font-size: 20px
  font-family: 'robotolight'
  color: blue
  margin-right: .5%
  padding-bottom: 2px
  margin-left: spacing-block-tiny - 4
  cursor: pointer
  &:hover
    border-bottom: 1px solid blue
  &:focus
    outline: none
    border-bottom: 1px solid dark-slate
    color: white

.near-me
  border none