.tile
  display: inline-block
  margin-right: 1%
  margin-top: spacing-block
  background-color: #FFF
  box-shadow 0 1px 2px rgba(225,231,234,.75)

.third
  width: 32%

.inner-tile-wrap
  padding: spacing-block-tiny spacing-block-tiny 0 spacing-block-tiny

.home-photo
  overflow: hidden
  width: 100%
  min-height: 200px
  background-position: center center
  background-size: cover
  background-repeat: none

.home-photo-wrap
  padding-bottom: 5%
  min-height: 212px
  position: relative
  border-radius: border-radius

.overlay
  background-color: rgba(22,159,236,0.6)
  position: absolute
  width: 100%
  min-height: 100%

.monthly-summary
  margin: spacing-block-tiny 0

.green-button-drop
  border: 1px dashed slate
  text-align: center
  font-style: italic
  font-size: 10px
  padding: 12px
  color: lighten(slate, 10%)

.bottom-meta-info
  border-top: 1px solid lighten(slate, 80%)
  padding: 0 spacing-block-tiny

.home-meta-col
  text-align: center
  width: 49%
  display: inline-block
  &:first-child
     border-right: 1px solid lighten(slate, 80%)
  h4
    margin: spacing-block-tiny 0
    display: inline-block
    vertical-align: top

.home-icon
  background: url(../images/home@2x.png) no-repeat 0 0

.sq-ft-icon
  background: url(../images/square-ft@2x.png) no-repeat 0 0