light-grey = #fbfbfb
blue = #10a0ef
slate = #8a99a2
teal = #41ddd7
yellow = #ffbc48
purple = #9925f2
dark-slate = #222535
red = #ff2121
green  = #56c57d

page-width = 90%

large-font-size = 46px
headline-font-size = 20px
small-meta-font-size = 16px

spacing-block-lg = 70px
spacing-block = 40px
spacing-block-sm = 40px
spacing-block-tiny = 10px

border-radius = 3px

small-snap = 520px
med-snap = 1024px