light-grey = #fbfbfb
blue = #10a0ef
slate = #9dacb5
teal = #29a6ec
yellow = #ffbc48
purple = #9925f2
dark-slate = #222535
red = #ff2121

page-width = 90%

large-font-size = 46px
headline-font-size = 20px
small-meta-font-size = 16px

spacing-block-lg = 70px
spacing-block = 40px
spacing-block-sm = 40px
spacing-block-tiny = 10px

border-radius = 3px

small-snap = 400px
med-snap = 1024px