light-grey = #fbfbfb
blue = #10a0ef
slate = #9dacb5
teal = #29a6ec
yellow = #ffbc48
purple = #9925f2
dark-slate = #222535

width = 80%

large-font-size = 46px
headline-font-size = 20px
small-meta-font-size = 16px